automations/json file.json
{
  "name": "testinggmail",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "42d9c289-6eb4-4d8d-85cf-4223e6bd1e9f",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "O3Rs6LCBeTR3wpZv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=can u just give a reply for this text\n{{ $json.snippet }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "cff671d3-3f8a-45f3-9ede-b99fba001057",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "3e54ded2-23df-4a94-ab00-2e33518dd97a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "4dMxFwGeUPMdXwWD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.From }}",
        "subject": "=reply",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        560,
        0
      ],
      "id": "688f65f3-3688-409b-bd1d-cd0278435e57",
      "name": "Send a message",
      "webhookId": "263651bc-97a0-471d-943c-fd73ec14a494",
      "credentials": {
        "gmailOAuth2": {
          "id": "O3Rs6LCBeTR3wpZv",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2a01c422-60c0-4a93-9772-a029f3e9f878",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4a94652d077291d976dc0b890194414c1197a986c2c20153c6f7c68e4e5f710e"
  },
  "id": "yrCGzRHQVBmLz8m3",
  "tags": []
}